*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: noto-sans, "sans-serif";
}

body {
    background: #c92b2b;
    background-image: url("../imagenesReact/fondo1.jpg");
    padding: 20px;
}

main {
    overflow: hidden;
}

.nice{
    font-size: 2rem;
    
}